//Fuentes
$Roboto: 'Roboto' ;
$Romanesco: 'Romanesco';
$PlayFair: 'Playfair Display';
$PlayFCursiva: italic 900 70px 'Playfair Display';

$Pesoregular: 400;
$PesoLight: 300;
$PesoBold: 900;

//colores
$fuzzyWuzzy: #E56353;
$ruddyPink: #D76C69;
$spanishPink: #ECBCBA;
$eerieBlack: #121619;
$raisinBlack: #222323;
$nickel: #6C6E70;
$white: #fff;
$platinum: #E6E7E7;
$lightGray: #D1D1D1;
$black: black;

