@import '../abstracts/variables';

button{
    .bg-grey{
        background-color: $nickel;
        color: $white;
        border-radius: 10.25rem;
    }
    .bg-grey .small{
        size: small;
    }
    .bg-grey .medium{
        size: medium;
    }
    // font-size: 16px;
    // float: left;
}
