@import '../abstracts/variables';


header img {
    width: 60px;
}

.jumbotron {
    background-image: url('/assets/images/post-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    height: 100%;
}

h1 {
    font: $PlayFCursivaG;
    color: $white;
}

main {
    margin-top: 30px;
    margin-bottom: 30px;
}

.borde {
    margin: 20px auto;
    color: black;
    padding-top: 50px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    padding-bottom: 30px;
}

@mixin img{
    border-radius: 100%;
    float: left;
    width: 250px;
    vertical-align: middle;
}

@mixin p{
    font: $PlayFCursivaP;
    vertical-align: middle;
}

.pink{
    .blog{
        font-size: 14px;
        font-style: $PlayFRegularNav;
    }
    .navbar{
        font-size: 12px;
        font-style: $PlayFRegularNav;   
    }
    color: $ruddyPink;
    line-height: 0.5rem;
}

.classDiv{
    padding-top: 60px;
    vertical-align: middle;
    font: $PlayFCursivaP;
}
.classDiv{
    .pink{
        margin-bottom: 0px !important;
    }
} 
.naomi{
    img{
        @include img;
    }
    p{
        @include p;
    }
}

@media screen and (max-width: 576px){
    header img {
    width: 40px;
}
    h1 {
        font: $PlayFCursivaP;
        color: $white;
    }
    .jumbotron h1 {
         font-size: 40px !important;
    }
}